.error-block {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: .5rem;
    animation-name: anim-error;
    animation-duration: 6s;
    animation-iteration-count: 1;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.436);
    background-color: rgba(59, 27, 27, 0.448);
}
.error-block h2 {
    font-size: 1.6rem;
}
.error-block svg {
    width: 60px;
    height: 60px;
}
@keyframes anim-error {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
    }

    10% {
        opacity: 1;
        visibility: visible;
        transform: none;
        z-index: 1;
    }

    90% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    .error-block {
        width: 50%;
    }
    .error-block h2{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 850px) {
    .error-block {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .error-block {
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .error-block {
        width: 95%;
    }
}